body, .App {
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #8e2de2, #4a00e0)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  width: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.width80{
  width: 80%;
  margin: 0 auto;
}

.App-menu{
  padding: 10px;
  margin-bottom: 0;
}



* {
  font-family: sans-serif;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input-cart{min-height:400px;border-top:3px solid #2196F3;margin-top:80px;margin-bottom:100px; background: #fafafa }
.login > .row > div{
  padding-right: 16px;
  border-right: 1px solid black;
}
.underline{
  text-decoration: underline;
}
.w80{
  width: 80%;
}
.auto{
  margin: 0 auto;
}

.m30{
  margin: 30px;
}

.p15{
  padding: 15px;
}

.flex{
  display: inline-flex;
}

.flex-col{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.w100 {
	width: 100%;
}

.h100{
  height: 100%;
}

.col-4 {
  width: 45%;
  padding-left: 10px;
}
.margin-l50{
  margin-left: 50px;
}
.col-6 {
	width: 55%;
}

.single-center {
	display: flex;
	justify-content: space-around;
}

.ver-center {
	align-content: center;
}

input{
  padding: 13px 10px;
  width: 92.5%;
  font-size: 16px;
  outline: none;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #02009e;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  letter-spacing: 1.6px;
  color: #222;
}
select{
  padding: 13px 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #02009e;
}
.menu{
  display: flex;
}
.menu a{
  color: white;
  text-decoration: none;
  padding: 21px;
  cursor: pointer;
}
.menu a.active, .menu a:hover{
  color: rgb(212, 153, 74);
  background: #0e0bd62d;
}
.valign-wrapper{
  display: flex;
  align-items: center;
}
.btn{
  padding: 7px 14px;
  margin: 5px;
  background-color: rgba(26, 38, 80, 0.199);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.blue{
  background: rgb(22, 103, 209);
  color: white;
}
.white{
  background-color: white;
}
.input-field {
  padding-bottom: 15px;
}
.fill-h{
  min-height: calc(100vh - 60px);
}
.input-field .err{
  font-size: 0.6em;
  color: red;
  font-weight: bolder;
  margin: 0;
}
.input-field .radio{
  display: flex;
}
.radio input{
  width: 50px;
}

@media only screen and (max-width: 360px) {
  main .flex{
    flex-direction: column;
  }
  main .row{
    width: 100%;
  }
  main [class*="col-"]{
    width: 100%;
  }
}